# Wafer board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

choice
    prompt "Wafer Keyboard"
    depends on SOC_SERIES_NRF52X

config BOARD_WAFER_LEFT
    bool "Wafer (Left)"
    select SOC_NRF52840_QIAA

config BOARD_WAFER_RIGHT
    bool "Wafer (Right)"
    select SOC_NRF52840_QIAA

endchoice
